@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

body {
  text-rendering: optimizeLegibility;
  cursor: default;
  user-select: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: 0; /* Firefox */
}

.progress-bar {
  background: #8570fe !important;
}

.Toastify__progress-bar--bg {
  background: rgba(133, 112, 254, 0.5) !important;
}